{% ckan_extends %}

{% block styles %}
        {{ super() }}
  <link rel="stylesheet" href="custom.css" />

{% endblock %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/banner-5.png">
      </div>
  
      <div class="item">
        <img src="/banner-3.png">
      </div>
  
      <div class="item">
        <img src="/banner-4.png">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id='search-div' class='container'>
    <h3>Find, Explore and Reuse Pakistan's Open Data</h3>
    <form class="module-content search-form" method="get" action="/dataset">
      <div class="search-input form-group search-giant">
        <input aria-label="Search datasets" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="Search Pakistan Open Data">
        <button type="submit">
          <i class="hidden-xs fa fa-search"></i>
          <span class="sr-only">Search</span>
        </button>
      </div>
    </form>
  </div>


  <section class='categories'>
    <div id='categories-div'>
      {% set arr = [["agriculture.png","Agriculture, Food, and Forests"],["cities.png","Cities & Regions"],["connectivity.png","Connectivity"], ["culture.png","Culture"],["demography.png","Demography"],["economy.png","Economy & Finance"],["education.png","Education"],["envoirnment.png","Environment & Energy"],["government.png","Government & Public Sector"],["health.png","Health"],["housing.png","Housing & Public Services"],["manufecturing.png","Manufacturing"],["publicsafety.png","Public Safety"],["science.png","Science & Technology"]] %}
      {% for elem in arr %}
      <div class='single-category'>
        <a>
          <img src='/{{elem[0]}}'>
          <p>{{elem[1]}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class='calls-actions'>
    <div class="jumbotron">
      <div class="container">
          <div class="row-fluid" align="center">
              <div class="col-sm-12 col-md-4">
                  <a href="/organization">
                      <img class="homepage-action-image image-fluid image-responsive" src="/data.png">
                  </a>
              </div>
              <div class="col-sm-12 col-md-4">
                  <a href="/showcase">
                      <img class="homepage-action-image image-fluid image-responsive" src="/story.png">
                  
                  </a>
              </div>
              <div class="col-sm-12 col-md-4">
                  <a href="/pages/what-is-open-data">
                      <img class="homepage-action-image image-fluid image-responsive" src="/opendata.png">
  
                  </a>
              </div>
          </div>
      </div>
  </div>
  </section>

  <section class="homepage-stats">
    {% snippet 'snippets/stats.html' %}
  </section>

  <section class='featured-datasets'>
    {% snippet 'snippets/featured_datasets.html', packages=c.datasets[:4] %}
  </section>

{% endblock %}