:root {
    --color-1: #3e525c;
    --color-2: #00a1ac;
    --color-3: #ffa700;
    --hover-filter: invert(50%) sepia(65%) saturate(5930%) hue-rotate(158deg) brightness(100%) contrast(103%) !important;
    --default-filter: brightness(0) saturate(100%) invert(31%) sepia(12%) saturate(868%) hue-rotate(156deg) brightness(93%) contrast(92%) !important;
}

form.simple-input {
    display:none !important;
}

div.field {
    display:none !important;
}

#myCarousel {
    max-height:30vmax!important;
}

#myCarousel div.item img {
    width:100%;
    height:auto;
}

#myCarousel div.item {
    max-height:30vmax;
}

#search-div {
    background-color:#eee;
    text-align:center;
    width:100%;
}

#search-div h3 {
    color:#00a1ac;
    font-weight:bold;
    font-size:24px;
    font-family:inherit;
}

span.form-select {
    display:none!important;
}
#search-div form {
    width:50%;
    margin:auto;
    padding:0;
}

#field-main-search {
    background-color:rgba(0,0,0,0) !important;
    font-size:16px;
    padding:15px;
    border-color: var(--color-1);
    border-radius:17px;
}

#categories-div {
    display:flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap:wrap;
    width:100%;
    text-align:center;
}

div.single-category {
    flex-basis:13%;
}

#categories-div a {
    text-decoration: none;
    color:var(--color-1);
}

div.single-category img {
    filter:var(--default-filter);
    width:8em;
    height:8em;
    margin-bottom:10px;
}

div.single-category img:hover {
    filter:var(--hover-filter);
    cursor:pointer;
}

section.categories {
    background-color:white;
    padding:80px;
}

section.actions {
    padding:80px;
    background-color: #eee;
}

