.module-heading {
    background: var(--color-2) !important;
    color: white !important;
    font-size: 15pt;
    font-weight: bold;
    font-family:"Roboto",sans-serif;
}

.module-heading::before {
    content:''!important;
}

.module-narrow .nav-item > a {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    color: var(--color-1) !important;
    font-size: 10pt;
    font-family:"Roboto",sans-serif;
}

.dataset-heading > a, .homepage-heading.data-heading > a {
    color: var(--color-2) !important;
}

#content {
    padding:15px 0px;
}

.row {
    margin:0!important;
}