body {
    font-family:'Roboto', sans-serif;
}

h3.dataset-heading {
    color: var(--color-2) !important;
}

#organization-datasets-search-form > h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

header.module-content > ul.nav > li {
    margin-bottom:-1px;
}

header.module-content > ul.nav > li.active {
    background: var(--color-2);
}

header.module-content > ul.nav > li.active > a {
    color: white;
}

.page-header .nav-tabs li a {
    color: var(--color-2);
}

div.page_primary_action > a {
    background-color: var(--color-2) !important;
    border-color:var(--color-2);
}

#similar-datasets {
    font-family:'Roboto',sans-serif;
}

#similar-datasets h4.data-heading {
    margin-top:0;
}

#similar-datasets h4.data-heading a {
    color: var(--color-2) !important;
    font-size:18px;
    font-weight:bold;
    font-family:inherit;
}

#similar-datasets .data-description {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: normal;
    font-style: italic;
    font-family:inherit;
}