{% ckan_extends %}

{% block package_basic_fields_custom %}

{#{{ form.input('category', label=_('category'), id='field-category', placeholder=_('category'), value=data.category, error=errors.category, classes=['control-medium']) }}#}
{{ 
    form.select('category', label=_('Category'), id='field-category', error=errors.category, classes=['control-medium'], options=h.get_preset_categories(), selected="{{data.get('category')}}")
}}

  <script>
    document.getElementById('field-category').value= "{{data.get('category')}}"
  </script>

  {% endblock %}
